/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* styles.css */

/* Dark theme for code blocks */
/* styles.css */



/* styles.css */

/* Dark theme for code blocks */
code {
    display: block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    overflow-x: auto;
    font-family: Consolas, monospace;
    max-width: 90%;
    margin: 0 auto; /* Centering the code block */
    text-align: left; /* Align text to the left */
}

section pre {
    margin: 20px 0;
    padding: 20px;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    overflow-x: auto;
    font-family: Consolas, monospace;
    max-width: 90%;
    margin: 0 auto; /* Centering the code block */
}

section pre code {
    display: block;
    padding: 0;
    background-color: transparent;
    color: inherit;
}

.project {
    margin: 20px;
  }
  
  .project h2 {
    margin-bottom: 10px;
  }
  
  .project p {
    margin-bottom: 20px;
  }
  
  .project .project-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2rem;
    background-color: rgb(200, 201, 200);
  }
  
  .project .project-card pre {
    margin: 0;
    width: 90%; /* Adjust width as needed */
    height: 50rem; /* Adjust height as needed */
    overflow: auto;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .content {
    padding: 20px;
  }

  .feapp{
    max-width: 70%;
  }
.etusivu{
  margin: auto;
    
    max-width: 70%;
    margin-bottom: 10rem;
}
.mina {
    max-width: 30%;
    margin-bottom: 2rem;
}
.etusivu p{
    max-width: 60%;
    margin: auto;
    margin-bottom: 1rem;
}
p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
}